In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix
import sklearn.metrics
from sklearn import datasets
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

In [2]:
df = pd.read_csv('../input/market-basket-id-ndsc-2020/association_order.csv')
df.head()

          orderid      itemid
0  31379820545759   719740607
1  31378575577269  1825360194
2  31369591568249  1108903291
3  31369836201769  4507360843
4  31372360246729  1821888475

In [3]:
df1= pd.read_csv('../input/market-basket-id-ndsc-2020/rules.csv')
df1

                        rule
0         100242812>80361758
1         100242812>89031406
2      1003153762>1016449477
3      1006024995>2727415265
4       1006024995>866012366
...                      ...
14233   995073047>3202007524
14234    995073047>651958908
14235   995073047>7902698606
14236    995073047>922394800
14237    995073047>991988255

[14238 rows x 1 columns]

In [4]:
data = pd.concat([df1,df], axis=1)
data

                         rule         orderid      itemid
0          100242812>80361758  31379820545759   719740607
1          100242812>89031406  31378575577269  1825360194
2       1003153762>1016449477  31369591568249  1108903291
3       1006024995>2727415265  31369836201769  4507360843
4        1006024995>866012366  31372360246729  1821888475
...                       ...             ...         ...
423856                    NaN  31348804008384  2174769495
423857                    NaN  31379932877729  6912791179
423858                    NaN  31368033346399  1340457527
423859                    NaN  31381864883559  2515423948
423860                    NaN  31358790557954  1488272669

[423861 rows x 3 columns]

In [5]:
data.dropna()

                        rule         orderid      itemid
0         100242812>80361758  31379820545759   719740607
1         100242812>89031406  31378575577269  1825360194
2      1003153762>1016449477  31369591568249  1108903291
3      1006024995>2727415265  31369836201769  4507360843
4       1006024995>866012366  31372360246729  1821888475
...                      ...             ...         ...
14233   995073047>3202007524  31374186845418  6900864349
14234    995073047>651958908  31373978932393  2448815700
14235   995073047>7902698606  31364835067993  1815479402
14236    995073047>922394800  31378513408523  2039316995
14237    995073047>991988255  31380039483433  2039316995

[14238 rows x 3 columns]

In [6]:
data.to_csv('has.csv')

In [7]:
rule = pd.read_csv('./has.csv')['rule'].values
itemid = pd.read_csv('./has.csv')['itemid'].values

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df1 = {'rule': rule.ravel(), 'confidence': itemid}
df1_hasil = pd.DataFrame(df1).set_index(['rule'])
df1_hasil.head(10)

                                 confidence
rule
100242812>80361758                719740607
100242812>89031406               1825360194
1003153762>1016449477            1108903291
1006024995>2727415265            4507360843
1006024995>866012366             1821888475
1006149508>2867088619              77274674
1006149508>599643179             1593652521
1006149508>943964984             2621009592
1008435393&1008455319>454021998  1251969983
1008435393&1336146681>454021998  6713240910

In [9]:
df1_hasil.to_csv('nyemplungers1.csv')